
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

temp/